# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.env

# Project specific ignores
face_db/
*.jpg
*.jpeg
*.png
*.mp4
*.avi
*.task

# IDEs
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
